

.current-display {
    display: none;
    flex-direction: column;
}

.current-question {
    display: flex;
    flex-direction: column;
}

#start-page {
    flex-direction: column;
}

#question-1 {
    flex-direction: column;
}

#question-2 {
    flex-direction: column;
}

#question-3 {
    flex-direction: column;
}

#question-4 {
    flex-direction: column;
}

#question-5 {
    flex-direction: column;
}

#log-score {
    flex-direction: column;
}

#end-game {
    flex-direction: column;
}